{% extends 'maisema/base.html' %}
{% load static %}


{% block css %}
<!-- Materialize CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- File browser -->
<link href="{% static 'maisema/css/filebrowser.css' %}" rel="stylesheet">
<!-- Upload CSS -->
<link href="{% static 'maisema/css/upload.css' %}" rel="stylesheet">
{% endblock %}


{% block js %}
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="{% static 'maisema/js/table.js'%}"></script>
<!-- Home js -->
<script src="{% static 'maisema/js/home_controller.js'%}"></script>
<!-- Upload js -->
<script src="{% static 'maisema/js/upload.js'%}"></script>
{% endblock %}


{% block content %}

{% include 'maisema/includes/upload.html' %}

<h1>File browser</h1>

<div class="m-2">
    {% for breadcrumb in breadcrumbs %}
    > <a href="{{breadcrumb.url_path}}">{{breadcrumb.name}}</a>
    {% endfor %}
</div>
<div>
    <ul>
        {% for folder in folders %}
        <li class="d-flex align-items-center"><i class="mr-1 material-icons">folder_open</i><a href="{{folder.url_path}}">{{folder.name}}</a></li>
        {% endfor %}

        {% for file in files %}
        <li class="d-flex align-items-center"><i class="mr-1 material-icons">insert_drive_file</i>{{file.name}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}